@page "/game/{GameId:int}"

@if (_game is null)
{
    <span>Oopsi, on dirait qu'il y a un problème</span>
    return;
}

<div id="return-to-home-button">
    <MudIconButton Icon="@Icons.Material.Filled.Home" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" OnClick="@NavigateToHomeAsync"/>
</div>

<div id="game" class="@(!string.IsNullOrEmpty(_game.WinnerPlayerName) ? "winning-background" : string.Empty)">
    <MudText Color="Color.Primary" Typo="Typo.h3">Dix-Mille</MudText>
    @if (!string.IsNullOrEmpty(_game.WinnerPlayerName))
    {
        <MudText Color="Color.Primary" Typo="Typo.h4">Félicitation @_game.WinnerPlayerName a gagné!</MudText>
    }

    <div id="players-list">
        @foreach (var player in _game.Players)
        {
            <MudPaper Elevation="2" Outlined="true">
                <div class="player-row" @onclick="@(() => OnPlayerClicked(player))">
                    <span class="ranking-icon">
                        @if (ShouldDisplayCup(player))
                        {
                            <MudImage src="https://github.com/Codex04/DixMille/blob/main/DixMille/wwwroot/Images/first_place_cup.png?raw=true" alt="first place up" Width="50" Height="50"/>
                        }
                    </span>
                    <MudText Class="player-name" Typo="Typo.h5">
                        @player.Name
                    </MudText>
                    <MudSpacer/>
                    <MudText Class="player-score" Typo="Typo.h5">
                        @player.Score
                    </MudText>
                </div>
            </MudPaper>
        }
    </div>
    
    @if (!string.IsNullOrWhiteSpace(_game.LastPlayerName))
    {
        <MudText Style="text-align-last: center;" Color="Color.Dark" Typo="Typo.h5">Le dernier joueur à avoir joué est @_game.LastPlayerName</MudText>
    }
</div>


