@page "/new-game"

<div id="new-game">
    <MudText>Nouvelle Partie</MudText>

    <div id="player-list">
        @foreach (var player in _players)
        {
            <MudPaper Elevation="2" Outlined="true" >
                <div class="player">
                    <MudText>@player.Name</MudText>
                </div>
            </MudPaper>
        }
        <div id="new-player-field">
            <MudTextField @bind-Value="@_newPlayerName" Label="Nom du nouveau joueur" 
                          Variant="Variant.Outlined" Margin="Margin.Dense" 
                          Immediate/>
            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@OnAddNewPlayerClicked" 
                           Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" 
                           Disabled="@(_players.Any(player => player.Name.Equals(_newPlayerName, StringComparison.OrdinalIgnoreCase)))"/>
        </div>
    </div>
    
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large"
               OnClick="@OnStartNewGameClicked"
               Disabled="@(_players.Count < 2)">
        Commencer la partie
    </MudButton>
</div>
